/* DEBUT DU RESPONSIVE MOBILE */

@media (min-width:80px) and (max-width:667px)
{
body h1 {font-size: 1.5em;}    
header {flex-direction: column;align-items: flex-start; width: 100% !important;}
header img {position: relative; left: 10px; top: 15px;}
header nav {justify-content: space-between; width: 100%; text-align: center;}
header nav #menu1, header nav #menu2 {border-bottom: #F2F2F2 3px solid; border-top: 3px transparent;width: 50%;} 
header nav #menu1:hover, header nav #menu2:hover {border-bottom: #0065FC 3px solid;border-top: transparent;} 
#login{position: absolute; top: 0px; right: 20px;}

.bouton{display: none;}
.recherche .loc {width: 70%;}
.recherche .loc .loupe{display: block; margin-left: -20px;}
.recherche .loc .ville{width: 100%;}

.recherche .filtres {flex-direction: column; align-items: flex-start;width: 100% !important;}
.recherche .filtres .icone_filtres{justify-content: space-between; width: 95%;}

.recherche .info{align-items: flex-start;}

.bloc_1{width: 100% !important; margin: auto; height: auto;} 
.bloc_1 .hebergement {width: 100%; margin: auto; background: none; height: auto; justify-content: space-around; align-items: stretch;} 
.bloc_1 .hebergement .logements {flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: flex-start; height: auto;}
.bloc_1 .hebergement .logements .bulle { width: 100%; margin: auto; margin-bottom: 20px;}
.bloc_1 .hebergement .logements .bulle_img{width: 100%;}

.bloc_1 .populaire{border-radius: 0; width: 100% !important; margin: auto; justify-content: space-between;}
.bloc_1 .populaire .bulle_pop{height: 500px; justify-content: space-evenly;}

.section3 {width: 100%; margin: auto;}
.section3 h1 {margin-left: 20px;}
.section3 .activité{flex-wrap: nowrap; width: 100%; margin: auto; height: 100%; justify-content: space-evenly; align-items: center;}
.section3 .activité .photo1, .section3 .activité .photo2, .section3 .activité .photo3, .section3 .activité .photo4, .section3 .activité .photo5, .section3 .activité .photo6{ width: 100%; height: 190px; margin: 10px;}
.section3 .activité .photo1 img, .section3 .activité .photo2 img, .section3 .activité .photo3 img, .section3 .activité .photo4 img, .section3 .activité .photo5 img, .section3 .activité .photo6 img{margin-bottom: 5px; width: 100%; height: 140px;}

.footer{height: auto; background-color: #F2F2F2;}
.footer .background{width: 90%;margin: auto;}
.footer .colonnes{flex-direction: column; flex-wrap: nowrap; align-items: flex-start; margin-left: 20px;}
}

/* FIN DU RESPONSIVE MOBILE */

/* DEBUT DU RESPONSIVE TABLETTE */

@media (min-width:668px) and (max-width:1166px)
{
header nav {width: 40%;}
nav a {font-size: 0.9em;}
.bouton{display: none;}
.recherche .loc {width: 50%;}
.recherche .loc .loupe{display: block; margin-left: -20px;}
.filtres{width: 90% !important;}
.bloc_1 .hebergement{width: 100%; margin: auto; margin-top: 50px;}
.bloc_1 .hebergement .logements{flex-direction: column; flex-wrap: wrap; height: 500px; width: 100%;}
.bloc_1 .hebergement .logements .bulle a h2{font-size: 0.9em;}
.bloc_1 .populaire{display: block; height: 250px; width: 100%;}
.bloc_1 .populaire .bulle_pop{height: 250px; display: flex; flex-direction: row; margin: 30px 10px 0 0;}
.bloc_1 .populaire .bulle_pop .bulle_2{width: 90%; height: 60%;}
.bloc_1 .populaire .bulle_pop .bulle_2 .pop_img{width: 40%; height: 100%;}
.section3{width: 90% !important; height: auto !important;}
.section3 h2{font-size: 0.9em !important;}
.footer .background .colonnes {width: 100%; justify-content: space-between;}
} 


/* FIN DU RESPONSIVE TABLETTE */

/* GENERAL */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a p{
    font-size: 1em;
    font-weight: 300;
}

a h2 {
    font-size: 1em;
    font-weight: 700;
}

h1 {
    font-size: 1.5em;
    font-weight: 800;
    padding-bottom: 10px;
}

h2 {
    font-size: 1em;
    font-weight: 700;
}

P {
    font-size: 1em;
    font-weight: 300;
}

/* FIN DU GENERAL */

/* DEBUT DU HEADER */

header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: auto;
}


nav {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.hidden {
    display: none;
}

#menu1, #menu2 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 3px solid transparent;
}

#menu1:hover, #menu2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

nav a {
    color: black;
    text-decoration: none;
}

#login {
    padding-top: 30px;
    border-top: 3px solid transparent;
    color: #0065FC;
}

/* FIN DU HEADER */

/* DEBUT DE LA SECTION 1 - RECHERCHES */

.recherche {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 50px 0 50px 0;
}

#recherche {
    color: #FFFF;
    background: #0065FC;
    font-size: 1em;
    border: none;
}

.loc {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin-top: 15px;
}

.loc_icone {
    padding: 15px;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    height: 20px;
    width: 5%;
}

.ville {
    padding: 15px;
    border: solid 1px #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    background: #FFFF;
    height: 20px;
    width: 70%;
}

input {
    font-size: 1.1em;
    font-weight: 500;
}

#lieu {
    border: none;
}

#lieu:focus {
    outline: none;
}

.bouton {
    padding: 16px;
    border-radius: 0px 15px 15px 0px;
    color: #FFFF;
    background: #0065FC;
    height: 20px;  
    width: 30%;
    border: none;
}

.loupe {
    padding: 17px 25px 16px 25px;
    border-radius: 15px;
    background: #0065FC;
    background-image: url(../images/logo/search_white.svg);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    display: none;
}

.loupe img {
    display: none;
}

#recherche:hover {
    cursor: pointer;
}

#recherche:focus {
    outline: none;
}

.loc p, .filtres p {
    font-size: 1em;
    font-weight: 600;
}

.loc img {
    width: 15px;
    padding-right: 15px;
    background-color:#F2F2F2;
}

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 70%;
    margin-top: 25px;
}

.titre_filtres{
    width: 10%;
    display: flex;
    justify-self: start;
}

.icone_filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin-top: 10px;
}

.filtres img {
    width: 20px;
    height: 20px;
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.icone {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
}

.icone:hover {
    box-shadow: 0px 0px 10px #b6b5b5;
        cursor: pointer;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.info img {
    width: 10px;
    height: 10px;
    padding: 5px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
}

/* FIN DE LA SECTION 1 - RECHERCHES */

/* DEBUT DE LA SECTION 2 - HEBERGEMENTS */

.bloc_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: auto;
}

 .hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 63%;
    height: 500px;
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 20px;
}

.hebergement a h2{
    color: black;
}

.logements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 5px 0px 20px 0px;
}

.logements h2, p {
    margin-left: 5px;
}

.star {
    display: flex;
    flex-direction: row;
    margin: 5px;
} 

.star img {
    width: 10px;
    height: 10px;
}

.bulle {
    width: 30%;
    background-color: #FFFF;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #E4E4E4;
}

.bulle_img {
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.titre {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titre img{
    width: 20px;
    height: 20px;
}

.graph {
    width: 10px;
    height: 10px;
}

.populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 500px;
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 20px;
}

.populaire h2, p {
    margin-left: 5px;
}

.bulle_pop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
}

.bulle_2 {
    background-color: #FFFF;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #e4e4e4;
    display: flex;
    flex-direction: row;
}

.bulle_2 img {
    height: 110px;
    width: 110px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.star2 {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-top: auto;
} 

.star2 img {
    width: 10px;
    height: 10px;
}

.descriptif {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* FIN SECTION 2 - HEBERGEMENTS */

/* DEBUT SECTION 3 - ACTIVITES */

.section3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}

.section3 h1 {
    padding: 50px 0px 20px 0px;
}

.activité {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 102%;
    margin: auto;
    height: 450px;
}

.activité h2 {
    padding: 10px;
}

.photo1, .photo4 {
    width: 23%;
    height: 450px;
    background: #FFFF;
    box-shadow: 0px 5px 5px #F2F2F2;
    border-radius: 10px;
}

.photo1 img, .photo4 img {
    width: 100%;
    height: 400px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;

}

.photo2 , .photo6 {
    width: 23%;
    height: 230px;
    background: #FFFF;
    box-shadow: 0px 5px 5px #F2F2F2;
    border-radius: 10px;
}

.photo2 img , .photo6 img {
    width: 100%;
    height: 180px;
    background-size: cover ;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.photo3 , .photo5 {
    width: 23%;
    height: 190px;
    background: #FFFF;
    box-shadow: 0px 5px 5px #F2F2F2;
    border-radius: 10px;
}

.photo3 img , .photo5 img {
    width: 100%;
    height: 140px;
    background-size: cover ;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

/* FIN SECTION 3 - ACTIVITES */

/* DEBUT DU FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 100%;
    margin: auto;
    height: auto;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: auto;
}

.colonnes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0px 30px 0px;
    width: 70%;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.col h2 {
    padding-bottom: 20px;
}

.col li {
    list-style-type: none;
    font-size: 0.8em;
    font-weight: 300;
    padding-bottom: 10px;
}

/* FIN DU FOOTER */






